aside.learning-sidebar {
    background-color: var(--primary-color);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

aside.learning-sidebar > section {
    color: var(--secondary-color);
    padding: 1rem;
}

aside.learning-sidebar > section > h2 {
    margin-bottom: 0.5rem;
}

aside.learning-sidebar > section > p {
    line-height: 1.3;
    letter-spacing: 1px;
}
