section.dashboard-lists-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

a.create-list-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
    transition:
        0.5s margin-left,
        0.5s background-color,
        0.5s color;
}

a.create-list-link > svg {
    width: 3rem;
    height: 3rem;
}

a.create-list-link:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-left: 1rem;
}

section.dashboard-lists-container > h2 {
    width: 100%;
    font-size: 2rem;
    border-top: 2px solid var(--primary-color);
    padding-top: 0.5rem;
}

div.dashboard-lists {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
}

div.dashboard-lists > div {
    background-color: var(--primary-black);
    height: 20rem;
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: 0.5rem;
    flex: 0 0 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

div.dashboard-lists > div > a {
    width: 90%;
    text-align: center;
    padding: 0.25rem 0rem;
    border-radius: 0.25rem;
    background: var(--secondary-color);
    font-weight: bold;
    color: var(--primary-black);
    font-size: 0.9rem;
    transition: 0.5s background-color;
}

div.dashboard-lists > div > a:hover {
    background-color: var(--secondary-hover);
    cursor: pointer;
}
