div.create-layout-container {
    display: grid;
    width: 100dvw;
    height: 100dvh;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

div.create-main-container {
    display: grid;
    grid-template-columns: 15% 1fr;
}

aside.create-sidebar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    padding: 1rem;
}

aside.create-sidebar > h2 {
    margin-bottom: 0.5rem;
}

aside.create-sidebar > section.created-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 30rem;
    overflow-y: auto;
}

aside.create-sidebar > section.created-list::-webkit-scrollbar {
    width: 1rem;
}

aside.create-sidebar > section.created-list::-webkit-scrollbar-thumb {
    background: var(--primary-color-dark);
    border: .25rem solid var(--primary-color);
    border-top: none;
    border-bottom: none;
}

aside.create-sidebar > section.created-list > div.created-exercise {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside.create-sidebar > section.created-list > div.created-exercise > p {
    display: flex;
    gap: 0.25rem;
}

aside.create-sidebar > section.created-list > div.created-exercise > svg {
    color: red;
    width: 1.5rem;
    height: 1.5rem;
}

aside.create-sidebar > section.created-list > div.created-exercise > svg:hover {
    cursor: pointer;
}

main.create-main {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main.create-main > h2 {
    margin-bottom: 0.5rem;
}

main.create-main > h2 > span {
    background-color: var(--secondary-color);
    padding: .25rem .75rem;
    color: var(--primary-color);
    margin: 0 .5rem;
    border-radius: .5rem;
    font-variant: small-caps;
}

main.create-main > form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    margin-top: 1rem;
    background-color: var(--secondary-color);
    padding: 2rem 5rem;
    color: var(--primary-black);
    border-radius: .5rem;
}

main.create-main > form > div.form-label-container {
    display: flex;
    gap: 2rem;
}

main.create-main > form .input-container {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-variant: small-caps;
}

main.create-main > form > div.form-content-container {
    display: flex;
    gap: 0.5rem;
}

main.create-main > form > div.form-content-container > button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

main.create-main > form > div.form-content-container > button:hover {
    cursor: pointer;
    background-color: var(--primary-color-dark);
}

main.create-main > form > div.form-content-container > button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

main.create-main > p {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

main.create-main > p.form-error {
    background-color: red;
}

main.create-main > p.form-feedback {
    background-color: green;
}
