section.learning-exercises-history {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    overflow-y: scroll;
}

section.learning-exercises-history > div {
    padding: .5rem;
    border-radius: .25rem;
    font-size: 1.2rem;
}

section.learning-exercises-history > div.right {
    background-color: green;
}

section.learning-exercises-history > div.wrong {
    background-color: red;
}