section.learning-main-answers {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

section.learning-main-answers > button {
    margin: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 1rem;
    font-size: 3rem;
    font-weight: bold;
    transition:
        0.5s background-color,
        0.5s color,
}

section.learning-main-answers > button:hover {
    background-color: var(--primary-color-dark);
    cursor: pointer;
}

section.learning-main-answers > button:disabled {
    background-color: var(--primary-black);
    pointer-events: none;
}

section.learning-main-answers > button.right {
    background-color: green;
}

section.learning-main-answers > button.wrong {
    background-color: red;
}
