.dashboard-container {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.dashboard-container > .dashboard-main-container {
    grid-column: 2 / span 4;
}